@model IEnumerable<FA.JustBlog.Web.Models.PostViewModel>

@{
    ViewData["Title"] = "Index";
    ViewData["Background-Image"] = @"background-image: url('/assets/img/home-bg.jpg')";
    ViewData["Site-Heading"] = "Just Blog";
    ViewData["Sub-Heading"] = "A Blog Theme by Start Bootstrap";
}

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <h1>All posts!</h1>
        <hr class="my-4" />
        @foreach (var item in Model)
        {
            <div class="post-preview">
                <a href="post.html">
                    <a class="post-title" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                    <h3 class="post-subtitle">@item.ShortDescription</h3>
                </a>
                <p class="post-meta">Posted @item.PostedOn with @item.TotalRate by @item.RateCount view(s)</p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />

        }
        <!-- Pager-->
        <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
    </div>
</div>